.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba( 0, 0, 0, 0.5);
    &-content{
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%,-100%);
        overflow: auto;
        @media only screen and (max-width: $medium){
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

.toLast, .toNext{
    font-size: 3rem;
    color: rgba(243, 243, 243, 0.5);
    cursor: pointer;
    &:hover{
        color: $background;
    }
}

.toLast{
    left: 0;
}

.toNext{
    right: 0;
}

.disabled{
    pointer-events: none;
    cursor: default;
    color: rgba(243, 243, 243, 0);
}

.detectArea{
    background-color: unset;
    border: none;
    position: absolute;
    top: 50%;
    width: 5%;
    height: 200px;
    z-index: 100;
    &:focus{
        outline: none;
    }

    @media only screen and (max-width: 1000px){
        .toLast, .toNext{
            font-size: 2rem;
        }
    }
}