.author{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.author:hover .user-name{
    color:$contrast;
}
.user-image{
    border-radius: 100%;
    display: inline-block;
}
.user-name{
    display: inline-block;
    margin-left: 0.5rem;
    color: white;
}

@media only screen and (max-width:$medium){
    .author:hover .user-name{
        color: unset;
    }

    .user-name{
        color: black;
    }
}